/*Стили раздела с сообщениями*/

.massages {
	border: 1px solid #27AE60;
	border-radius: 10px;
	padding: 2%;
	align-items: center;
}

.main__inform h4 {
	color: #000;
}

.main__inform p, .transition span {
	font-weight: 500;
}

.transition {
	align-items: center;
}


/*Стили кнопки фильтров*/

.media__filter {
	display: none;
}

/*Стили кнопки перейти*/
.btn__filter, .btn__transition {
	background-color: #27AE60;
	color: #fff;
}

.btn__filter:hover, .btn__transition:hover {
	background-color: #1b6535;
	color: #fff;
}

.btn__type {
	background-color: #F2C94C;
	color: #fff;
}

.btn__type:hover {
	background-color: #DEB025;
	color: #fff;
}

.dropdown__filter a {
	font-weight: 500;
	font-size: 15px;
}

.dropdown__filter a:hover {
	color: #1b6535;
}

/*Стили пагинации*/
.pagination a {
    border-radius: 25px;
    color: black;
    margin-left: 1%;
    margin-right: 1%;
    padding: 1% 2%;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    border: 1px solid #DF1103;
    color: #000;
}

a.active:hover {
    background-color: #DF1103;
    color: #fff;
}

.pagination a:hover:not(.active) {
  background-color: #f1f1f1;
}


@media (min-width:  0px) and (max-width: 800px) {

.pagination a {
    padding: 2% 4%;
}
}

@media (min-width:  0px) and (max-width: 992px) {

.media__filter {
	display: flex;
}

.filter {
	display: none;
}

}